*,
*:before,
*::after {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	margin: 0;
	color: $primary;
}

.topnav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 95px;
	padding-left: 22px;
	padding-right: 26px;
	color: white;
}

#nav-menu {
	display: none;
	background: $primary-transparent;

	position: absolute;
	width: 100%;
	height: calc(100% - 95px);
	z-index: 1;

	ul {
		padding: 0;
		margin: 0;
		padding-top: 32px;
		list-style-type: none;
	}

	a {
		display: block;
		text-decoration: none;

		@include monserrat-bold;
		font-size: 15px;
		color: $white;
		text-align: center;
		line-height: 60px;
	}

	span {
		display: block;
		border-bottom: 1px solid $white;
		width: 40px;
		margin: 0 auto;
		opacity: 0.5;
	}
}

#section-header {
	h1 {
		padding: 0 45px;
		font-size: 25px;
		line-height: 33px;
		text-align: center;
	}

	span {
		color: $secondary;
	}
}

#section-searcher {
	display: flex;
	flex-direction: column;
	position: relative;
	max-width: 551px;
	margin: 0 auto;

	img.img-header {
		padding: 31px 51px 0px 51px;
		width: 100%;
	}

	div.search-container {
		display: flex;
		align-items: center;
		padding-left: 55px;
		border: 1px solid $primary;
		border-radius: 27px;
		margin: 0 20px;

		input.input-search {
			margin: 0;
			padding: 0;
			height: 50px;
			width: 100%;
			border: 0;

			&::placeholder {
				font-size: 1rem;
				color: $gray;
				font-family: "Roboto", sans-serif;
			}
		}

		img.search-icon {
			cursor: pointer;
			margin-right: 20px;
		}
	}
}

#section-keywords {
	text-align: center;
	padding-top: 31px;
	padding-bottom: 35px;

	h3 {
		font-size: 1rem;
	}

	p {
		@include monserrat-meidum;
		font-size: 0.875rem;
		margin: 0 75px;
		line-height: 25px;
	}
}

#section-gifos-result {
	text-align: center;
	span {
		display: block;
		border-bottom: 1px solid $gray;
		width: 157px;
		margin: 0 auto;
		opacity: 0.5;
	}

	h2#heading-gifos-result {
		font-size: 25px;
		text-align: center;
		margin-top: 43px;
	}
	div#container-gifos-result {
		display: flex;
		flex-wrap: wrap;
		padding: 0 11.5px;
		img {
			width: 50%;
			height: auto;
			padding: 12.5px 11.5px;
			&:nth-last-child(-n + 2) {
				padding-bottom: 0px;
			}
		}
	}
	button {
		margin: 78px auto;
		width: 127px;
		height: 50px;
		border: 1px solid $primary;
		border-radius: 27px;
		background-color: transparent;
		font-size: 0.8125rem;
		@include monserrat-bold;
		color: $primary;
		cursor: pointer;
	}
}

#section-trending-gifos {
	background-color: $light;
	padding: 46px 0px 82px 22px;
	text-align: center;
	p {
		color: $black;
		margin-bottom: 32px;
	}

	div.gifos-images {
		overflow: hidden;
		overflow-x: auto;
		display: flex;
		img {
			max-height: 187px;
			margin: 0 11px;
			&:last-child {
				margin-right: 22px;
			}
		}
	}
}

#footer {
	text-align: center;
	color: $black;
	padding-top: 47px;
	padding-bottom: 23px;

	div {
		margin-top: 22px;
		margin-bottom: 46px;
	}

	img#icon-twitter {
		margin: 0 20px;
	}
}

div.modal {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	justify-content: center;
	align-items: center;
	padding: 0 28px;
	background: rgba(255, 255, 255, 0.9);

	div.img-container {
		img.close-icon {
			width: 14px;
			position: relative;
			bottom: 78px;
			right: calc(-100% + 14px);
		}

		img {
			width: 100%;
		}

		div.footer-img {
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: $black;
			font-size: 15px;

			div.text {
				*:first-child {
					margin: 6px;
				}
				*:last-child {
					margin: 0;
					@include monserrat-bold;
				}
				font-size: 1rem;
			}

			div.icons {
				max-height: 36px;
				display: flex;
				*:last-child {
					opacity: 0.5;
					border: 1px solid #9cafc3;
					border-radius: 6px;
					border-radius: 6px;
					margin-left: 29px;
				}
			}
		}
	}
}
