div.hover-img {
  display: block;
  position: absolute;
  background-color: $primary;
  opacity: 0.8;

  div.icon-container {
    position: absolute;
    right: 0;
    margin: 10px 5px;
    > div {
      @include div-icon(32px);
    }
  }

  div.text-container {
    position: absolute;
    left: 18px;
    bottom: 51px;
    text-align: left;
    p {
      margin: 0;
      color: white;
      &:first-child {
        font-size: 0.9375rem;
        margin-bottom: 6px;
      }
      &:last-child {
        @include robot-bold;
      }
    }
  }
}

div.icon-fav {
  background: url("../../img/icon-fav.svg") no-repeat;
  &:hover {
    background: url("../../img/icon-fav-hover.svg") no-repeat;
  }
  &.saved {
    background: url("../../img/icon-fav-active.svg") no-repeat;
    background-position: center;
    background-color: $white;
    border-radius: 6px;
  }
}

div.icon-download {
  background: url("../../img/icon-download.svg") no-repeat;
  &:hover {
    background: url("../../img/icon-download-hover.svg") no-repeat;
  }
}

div.icon-expand {
  background: url("../../img/icon-max-normal.svg") no-repeat;
  &:hover {
    background: url("../../img/icon-max-hover.svg") no-repeat;
  }
}
