$primary: #572ee5;
$secondary: #5ed7c6;
$gray: #6b7989;
$light: #f3f5f8;
$black: #000000;
$white: #ffffff;

$primary-transparent: rgba(87, 46, 229, 0.9);

.bg-primary {
	background-color: $primary;
}
