/**********************
* Colors
**********************/

$primary: #572ee5;
$secondary: #5ed7c6;
$gray: #9cafc3;

$black: #000000;
$white: #ffffff;

$light: #f3f5f8;

$dark: #37383c;
$dark-trending: #222326;

$primary-transparent: rgba(87, 46, 229, 0.9);

.bg-primary {
  background-color: $primary;
}
