/*********************
* Create gifos
**********************/

#create-gifo {
  margin: 0 2rem;
  .camera-container {
    border: 1px solid $primary;
    max-width: 688px;
    height: 390px;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    h2 {
      color: $primary;
    }

    p {
      color: $black;
    }

    div.div-hover-create {
      position: absolute;
      background-color: $primary;
      opacity: 0.8;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        color: $white;
        text-align: center;
      }

      &.hidden {
        display: none;
      }
    }

    video {
      width: 100%;
      height: 100%;
    }
  }

  .footer-create {
    display: flex;
    flex-direction: column;
    .create-steps {
      display: flex;
      justify-content: center;
      align-items: center;
      div.step-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        border-radius: 32px;
        border: 1px solid $primary;
        background: transparent;
        color: $primary;
        margin: 0 13px;
        text-align: center;
        font-size: 18px;

        &.activate {
          color: white;
          background: $primary;
        }
      }

      @media screen and (min-width: 768px) {
        h3 {
          display: none;
          position: absolute;
          right: 15%;

          &.active {
            display: block;
          }

          &.hover:hover {
            cursor: pointer;
            &:after {
              content: "";
              display: block;
              border-bottom: 2px solid $secondary;
              width: 100%;
            }
          }
        }
      }
    }

    span {
      height: 6.9px;
      max-width: 795px;
      width: 100%;
      margin: 20px auto;
      border: 1px solid $primary;
      border-radius: 6.9px;
      background-color: $primary;
    }

    button {
      margin: 0 auto;

      &.hidden {
        display: none;
      }
    }
  }
}

.icon-success {
  margin: 0 5px;
  width: 18px;
  height: 13px;
  display: inline-block;
  background: url("../../img/ok.svg") no-repeat;
}
