/********************
* Dark Theme
*********************/
.dark {
  background-color: $dark;
  color: $white;

  ul#menu-container {
    background-color: $black;
  }

  #section-searcher {
    .search-container {
      border: 1px solid $white;
    }

    .input-container {
      input {
        &,
        &::placeholder,
        &:focus {
          color: $white;
        }
      }

      div.icon-search {
        background: url("../../img/icon-search-mod-noc.svg") no-repeat;
        &.search {
          background: url("../../img/close-modo-noct.svg") no-repeat;
          height: 15px;
        }
      }
    }
  }

  button.btn-primary-ghost {
    border: 1px solid $white;
    color: $white;
  }

  #section-trending-gifos {
    background-color: $dark-trending;
    h2,
    p {
      color: $white;
    }
    .slider-trending-content {
      div.slider-arrow-right {
        background: url("../../img/button-slider-right-md-noct.svg") no-repeat;
        &:hover {
          background: url("../../img/Button-Slider-right-hover.svg") no-repeat;
        }
      }

      div.slider-arrow-left {
        background: url("../../img/button-slider-left-md-noct.svg") no-repeat;
        &:hover {
          background: url("../../img/button-slider-left-hover.svg") no-repeat;
        }
      }
    }
  }

  #footer {
    color: $white;
    a {
      color: $white;
    }
  }

  #create-gifo {
    .camera-container {
      border: 1px solid $white;
      h2 {
        color: $secondary;
      }
      p {
        color: $white;
      }
    }

    .footer-create {
      .create-steps {
        div.step-icon {
          border: 1px solid $white;
          color: $white;
        }
      }
    }
  }
}

// desktop styles
@media screen and (min-width: 768px) {
  .dark {
    ul#menu-container {
      background-color: $dark;
      a {
        color: $white;
      }

      a.create-gifo-icon {
        @include div-icon(54px);
        background: url("../../img/CTA-crar-gifo-modo-noc.svg") no-repeat;

        &:hover {
          background: url("../../img/CTA-crear-gifo-hover-modo-noc.svg")
            no-repeat;
        }
      }
    }
  }
}
