.dark {
  background-color: $dark;
  color: $white;

  ul#menu-container {
    background-color: $black;
  }

  #section-searcher {
    .search-container {
      border: 1px solid $white;
    }

    .input-container {
      input {
        &,
        &::placeholder,
        &:focus {
          color: $white;
        }
      }
    }
  }

  button.btn-primary-ghost {
    border: 1px solid $white;
    color: $white;
  }

  #section-trending-gifos {
    background-color: $dark-trending;
    h2,
    p {
      color: $white;
    }
    .slider-trending-content {
      div.slider-arrow-right {
        background: url("../../img/button-slider-right-md-noct.svg") no-repeat;
        &:hover {
          background: url("../../img/Button-Slider-right-hover.svg") no-repeat;
        }
      }

      div.slider-arrow-left {
        background: url("../../img/button-slider-left-md-noct.svg") no-repeat;
        &:hover {
          background: url("../../img/button-slider-left-hover.svg") no-repeat;
        }
      }
    }
  }

  #footer {
    color: $white;
    a {
      color: $white;
    }
  }
}

// desktop styles
@media screen and (min-width: 768px) {
  .dark {
    ul#menu-container {
      background-color: $dark;
      a {
        color: $white;
      }
    }
  }
}
