// Desktop Version
@media screen and (min-width: 768px) {
  .topnav-container {
    height: 90px;
    padding: 0 10%;

    img#main-menu-button {
      display: none;
    }

    ul {
      position: unset;
      background-color: transparent;
      padding: 0;
      width: auto;
      height: auto;

      &.close {
        display: flex;
        align-items: center;
      }
    }

    li {
      display: inline-block;
      margin: 0 1rem;
      &::after {
        display: none;
      }

      &.mobile {
        display: none;
      }

      a.item-text {
        color: $primary;
        text-transform: uppercase;
        line-height: 1rem;
        height: 1.2rem;

        &:hover {
          display: block;
          border-bottom: 2px solid $secondary;
        }

        &:active {
          color: $gray;
          border-bottom: 0;
        }
      }

      &:last-child {
        display: inline-block;
      }

      a.create-gifo-icon {
        @include div-icon(54px);
        background: url("../../img/button-crear-gifo.svg") no-repeat;

        &:hover {
          background: url("../../img/CTA-crear-gifo-hover.svg") no-repeat;
        }

        &:active {
          background: url("../../img/CTA-crear-gifo-active.svg");
        }
      }
    }
  }

  #section-header {
    h1 {
      font-size: 40px;
      line-height: 50px;
      padding: 0 253px;
    }
  }

  .images-container {
    justify-content: center;
    div.img-container {
      padding: 14px 14.5px;
      flex-basis: auto;
      width: 260px;
      height: 200px;

      > img {
        width: 100%;
        height: 100%;
      }
    }
  }

  #section-trending-gifos {
    padding: 46px 22px 82px 22px; // TODO
    div.slider-trending-content {
      display: flex;
      justify-content: center;
      align-items: center;

      div.container-trending {
        max-width: 80%;

        div.img-container {
          width: 357px;
          height: 275px;
          > img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  /**********************
  /* Footer
  /**********************/
  #footer {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;

    div {
      &:first-child {
        display: flex;
        align-items: center;
        > div {
          margin: 1rem;
        }
      }
    }
  }

  div.modal {
    background-color: $white;

    div.img-container {
      img#image-modal {
        max-width: 100%;
        max-height: 100%;
        display: block;
      }
    }
  }

  div.slider-arrow-left,
  div.slider-arrow-right {
    display: block;
  }

  .footer-create {
    .create-steps {
      h3 {
        display: none;
        position: relative;
        left: 15%;

        &.active {
          display: block;
        }

        &.hover:hover {
          cursor: pointer;
          &:after {
            content: "";
            display: block;
            border-bottom: 2px solid $secondary;
            width: 100%;
          }
        }
      }
    }
  }
}
