@media screen and (min-width: 768px) {
	.topnav-container {
		height: 90px;
		padding: 0 156px;

		img#main-menu-button {
			display: none;
		}

		ul {
			display: block;
			position: unset;
			background-color: transparent;
			padding: 0;
			width: auto;
			height: auto;

			&.close {
				display: block;
			}
		}

		li {
			display: inline-block;
			margin: 0 25px;
			&::after {
				display: none;
			}

			a {
				color: $primary;
				text-transform: uppercase;
				line-height: 1rem;
				height: 1.2rem;

				&:hover {
					display: block;
					border-bottom: 2px solid $secondary;
				}

				&:active {
					color: $gray;
					border-bottom: 0;
				}
			}
		}
	}

	#section-header {
		h1 {
			font-size: 40px;
			line-height: 50px;
			padding: 0 253px;
		}
	}

	#section-trending-gifos {
		> div {
			display: flex;
			justify-content: center;
			align-items: center;

			> img {
				display: unset;
			}

			div.gifos-images {
				overflow: unset;
				overflow-x: unset;
				display: flex;

				img {
					height: 275px;
					width: 375px;
					margin: 0 11px;
					&:last-child {
						margin-right: 11px;
					}
				}
			}
		}
	}

	.dark {
		ul#menu-container {
			background-color: $dark;
			a {
				color: $white;
			}
		}
	}
}
