@mixin monserrat-bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

@mixin monserrat-medium {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

@mixin robot-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

@mixin roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

@mixin div-icon($size) {
  margin: 0 5px;
  width: $size;
  height: $size;
  display: inline-block;
  cursor: pointer;
}
